
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: linear-gradient(12deg, #091c2c, #0c0020);
	color: antiquewhite;
	height: 100%;
}

:not(:defined) {
	display: none;
}

body {
	padding: 10vh 10vw;
	margin: auto;
	max-width: 45em;
}

body > * + * {
	margin-top: 2em;
}

a {
	color: skyblue;
	font-weight: bold;
}

a:is(:hover, :focus) {
	color: cyan;
}

a:active {
	color: magenta;
}

header {
	text-align: center;
}

h1 > * {
	display: block;
}

h1 em {
	opacity: 0.5;
	font-size: 0.5em;
}

header p {
	margin: 1em;
}

my-demo {
	display: block;
	border: 1px solid #fff4;
	border-radius: 0.5em;
	padding: 1em;
}
